body {
  background-image: url("imagens/back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  background-attachment: fixed;
  height: 100%;
}

.titulo {
  text-align: center;
  color: white;
  font-size: 45px;
  margin-top: 15px;
  text-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
  font-family: "Cormorant Garamond", serif;
}

.subtitulo {
  text-align: center;
  color: white;
  font-size: 20px;
  margin-top: 10px;
  text-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);

}

.container-botoes {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease; /* Efeito suave ao passar o mouse */
}

.botao-1 {
    background-color: #b89a6e;
    color: white;
}

.botao-1:hover {
    background-color: #a17128;
}

.botao-2 {
    background-color: transparent;
    text-decoration: underline;
    color: #ffffff;
    border: 2px solid #cccccc00;
}

.botao-2:hover {
    background-color: #f0f0f000;
    border-color: #ffae00;
}

.reserva{
    width: 90%;
    max-width: 1100px;
    margin: 50px auto;
    display: flex;
    background: #1c1815;
    color: white;
}

.campo{
    flex: 1;
    padding: 20px 30px;
    border-right: 1px solid rgba(255,255,255,.1);
    display: flex;
    flex-direction: column;
}

.campo label{
    color: #b89a63;
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.input-box input,
.input-box select{
    width: 100%;
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    outline: rgb(0, 0, 0);
}

.input-box input::-webkit-calendar-picker-indicator{
    filter: invert(1);
    cursor: pointer;
}

.select-hospedes{
    color: rgb(0, 0, 0);
}

.btn-reserva{
    width: 250px;
    border: none;
    background: #b89a63;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: .3s;
}

.btn-reserva:hover{
    background: #a8874d;
}