body {
  background-image: url("https://images7.alphacoders.com/362/362619.jpg");
  background-size: cover;
  height: 100%;
}

.titulo {
  text-align: center;
  color: white;
  font-size: 26px;
  margin-top: 10px;
}